 <a href="/user/{{this._id}}/profile-page">Back to Profile</a>

{{#each logs}}

  <h3>{{this.date}}</h3>
  <p>{{this.mood}}</p>
  <p>{{this.content}}</p>
  <a href="/log/edit-log">Update</a>
<form action ="/log/{{user._id}}/all-logs" method ="POST">
<button type="submit">Delete</button>

{{/each}}

