
 
<div class="all-logs" align="center">
{{#each logs}}

  <h3>{{this.date}}</h3>
  {{#each this.mood}}
  <p>{{this}}</p>
  {{/each}}
  <p>{{this.content}}</p>
  <a href="/log/edit-log/{{this._id}}">Update</a>
  <br>
<form action ="/log/delete/{{this._id}}" method ="POST">
<button class="delete" type="submit">Delete</button>

{{/each}}
</div>

<a href="/user/{{user._id}}/profile-page">Back to Profile</a>
